#about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.container-about {
  max-width: var(--max-width);
  min-width: var(--min-width);
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-about {
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  width: 90%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1;
}

.card {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  padding: 4rem;
  border: none;
  text-align: left;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../resources/photos/cover-about.jpeg");
  opacity: 1;
  background-position: center;
  background-size: cover;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.card-content {
  width: 56%;
}

.card-content > p {
  margin-bottom: 2rem;
}

/* profile picture section */
.picture-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 19rem;
  height: 15rem;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  position: relative;
  left: -0.8rem;
}

.contour-picture {
  width: 19.2rem;
  height: 15rem;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 44%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 0.8rem;
}

/* buttom section */
.button-resume {
  width: 14rem;
  background: linear-gradient(to bottom, #343434, #111111, #343434);
  border: 2px solid rgb(152, 151, 151);
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 0.3rem 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.button-resume > a {
  color: white;
  text-decoration: none;
}

.button-resume:hover {
  background-color: black;
  border: 2px solid white;
  position: relative;
  top: -2px;
  cursor: pointer;
  box-shadow: 0 8px 20px 0 rgba(162, 162, 162, 0.37);
  transform: scale(1.02);
}

/* media queries for desktop */
@media only screen and (max-width: 1210px) {
  .container-about {
    max-width: 60rem;
    min-width: 25rem;
  }
}

/* media queries for tablet screens */
@media only screen and (max-width: 980px) {
  .container-about {
    max-width: 45rem;
    min-width: 25rem;
  }

  .card {
    flex-direction: column-reverse;
  }

  .card-content {
    width: 90%;
  }

  .picture-container {
    width: 60%;
    height: auto;
    margin: 1rem 0 1.5rem 0;
  }

  .profile-picture {
    width: 18rem;
    height: 14rem;
  }

  .contour-picture {
    width: 18rem;
    height: 14rem;
  }

  .button-resume {
    margin: 0 auto 2.5rem auto;
  }
}

@media only screen and (max-width: 840px) {
  .card{
    padding: 2.5rem 1.5rem;
    width: 90%;
  }
  
  .container-about {
    max-width: 40rem;
    min-width: 24rem;
  }

  .picture-container {
    width: 80%;
  }

  .profile-picture {
    width: 18rem;
    height: 14rem;
  }

  .contour-picture {
    width: 18rem;
    height: 14rem;
  }

  .button-resume {
    margin: 0 auto 2.5rem auto;
  }
}

/* media queries for mobile screen */
@media only screen and (max-width: 480px) {
  .card{
    padding: 2.5rem 1.5rem;
    width: 90%;
  }

  .picture-container {
    width: 95%;
  }

  .profile-picture {
    width: 14rem;
    height: 11rem;
  }

  .contour-picture {
    width: 14rem;
    height: 11rem;
  }

  .button-resume{
    margin-bottom: 0;
  }

}
