#contact {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  background-color: rgba(4, 3, 3, 0);
}

.contact-container {
  max-width: var(--max-width);
  min-width: var(--min-width);
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 3, 3, 0);
}

.contact-row {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 3rem;
}

.contact-content {
  width: 90%;
  height: auto;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  padding: 2rem;
}

.personal-contact,
.form-contact {
  width: 50%;
  height: 34rem;
  background-color: rgba(105, 105, 105, 0);
  color: white;
  border-radius: 5px;
  padding: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.personal-contact p,
.personal-contact > a {
  margin-bottom: 0.5rem;
  color: white;
  text-decoration: none;
}

.personal-contact > a:hover {
  color: rgb(168, 165, 165);
}

input,
textarea {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.3rem 1rem;
  background-color: #00000000;
  border: none;
  border-bottom: 2px solid #fffdfd9a;
  outline: none;
  color: #fff;
}

input:focus, textarea:focus {
  border: none;
  background-color: #0000007d;
  border-bottom: 2px solid rgb(255, 255, 255);
  color: #ffffff6f;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button-form {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 15rem;
  background: linear-gradient(to bottom, #343434, #111111, #343434);
  border: 2px solid rgb(152, 151, 151);
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 0.3rem 0.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.837);
}

#button-form:hover {
  background-color: black;
  border: 2px solid white;
  position: relative;
  top: -4px;
  cursor: pointer;
  box-shadow: 0 8px 20px 0 rgba(162, 162, 162, 0.37);
  transform: scale(1.05);
  color: #FFF;
}

.cover-picture {
  width: 100%;
  height: 7rem;
  background-image: url("../../resources/photos/kevin-canlas-QYHehJ9Iovs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.error {
  color: red;
  position: relative;
  top: -1.2rem;
  font-size: 0.8rem;
}

/* media queries for desktop screens */
@media only screen and (max-width: 1210px) {
  .contact-container {
    max-width: 60rem;
    min-width: 25rem;
  }

  .personal-contact,
  .form-contact {
    width: 40rem;
    height: 30rem;
  }

  .cover-picture {
    height: 8rem;
  }
}

/* media queries for tablet screens */
@media only screen and (max-width: 980px) {
  .contact-container {
    max-width: 45rem;
    min-width: 25rem;
  }

  .personal-contact,
  .form-contact {
    width: 30rem;
    height: 33rem;
  }
}

@media only screen and (max-width: 850px) {
  .contact-container {
    max-width: 40rem;
    min-width: 24rem;
  }

  .cover-picture {
    height: 10rem;
  }

  .personal-contact {
    width: 30rem;
    height: 35.5rem;
  }

  .form-contact {
    width: 30rem;
    height: 32rem;
  }
}

/* media queries for mobile screens */
@media only screen and (max-width: 600px) {
  .contact-container {
    max-width: 28rem;
    min-width: 24rem;
  }

  .personal-contact {
    width: 100%;
    height: 32rem;
    text-align: left;
    padding: 1rem 0rem;
  }

  .form-contact {
    width: 100%;
    height: 35rem;
    margin-bottom: 0;
    padding: 0;
  }

  .cover-picture {
    height: 5rem;
  }

  #button-form{
    width: 9rem;
  }

  span > p {
    font-size: 0.7rem;
  }

  .personal-contact > a {
    font-size: 0.8rem;
  }

  .personal-contact > a > i {
    color: white;
  }
}
