#portfolio {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.container-portfolio {
  max-width: var(--max-width);
  min-width: var(--min-width);
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-row {
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-list {
  width: 90%;
  height: auto;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 5px;
  padding: 2.5rem;
  margin-bottom: 2rem;
}

/* media queries for desktop screen*/
@media only screen and (max-width: 1210px) {
  .container-portfolio {
    max-width: 60rem;
    min-width: 25rem;
  }
}

/* media queries for tablet screen */
@media only screen and (max-width: 980px) {
  .container-portfolio {
    max-width: 45rem;
    min-width: 25rem;
  }
}

@media only screen and (max-width: 850px) {
  .projects-list {
    padding: 1.5rem 1rem;
  }

  .container-portfolio {
    max-width: 40rem;
    min-width: 24rem;
  }
}

/* media queries for mobile screens */
@media only screen and (max-width: 600px) {
  .projects-list {
    padding: 1.5rem 1rem;
  }

  .line {
    display: none;
  }
}
